// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Script                   ║ Emoji (Fluent Emoji)                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Emoji ║ U+1F600-1F64F

// 100
@font-face {
  font-family: "CreArts";
  src: url(https://crearts-community.github.io/Assets/fonts/fluent-emoji/fluent-emoji-400.woff2) format("woff2");
  font-stretch:	normal;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  unicode-range: U+1F600-1F64F !important;
}

// 200
@font-face {
  font-family: "CreArts";
  src: url(https://crearts-community.github.io/Assets/fonts/fluent-emoji/fluent-emoji-400.woff2) format("woff2");
  font-stretch:	normal;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  unicode-range: U+1F600-1F64F !important;
}

// 300
@font-face {
  font-family: "CreArts";
  src: url(https://crearts-community.github.io/Assets/fonts/fluent-emoji/fluent-emoji-400.woff2) format("woff2");
  font-stretch:	normal;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+1F600-1F64F !important;
}

// 400 (Regular)


// 500
@font-face {
  font-family: "CreArts";
  src: url(https://crearts-community.github.io/Assets/fonts/fluent-emoji/fluent-emoji-400.woff2) format("woff2");
  font-stretch:	normal;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+1F600-1F64F !important;
}

// 600
@font-face {
  font-family: "CreArts";
  src: url(https://crearts-community.github.io/Assets/fonts/fluent-emoji/fluent-emoji-400.woff2) format("woff2");
  font-stretch:	normal;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+1F600-1F64F !important;
}

// 700
@font-face {
  font-family: "CreArts";
  src: url(https://crearts-community.github.io/Assets/fonts/fluent-emoji/fluent-emoji-400.woff2) format("woff2");
  font-stretch:	normal;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  unicode-range: U+1F600-1F64F !important;
}

// 800
@font-face {
  font-family: "CreArts";
  src: url(https://crearts-community.github.io/Assets/fonts/fluent-emoji/fluent-emoji-400.woff2) format("woff2");
  font-stretch:	normal;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  unicode-range: U+1F600-1F64F !important;
}

// 900
@font-face {
  font-family: "CreArts";
  src: url(https://crearts-community.github.io/Assets/fonts/fluent-emoji/fluent-emoji-400.woff2) format("woff2");
  font-stretch:	normal;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  unicode-range: U+1F600-1F64F !important;
}

