// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discord Framework                                                                                                  ║
// ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Name:                    ║ Scripts                                                                                 ║
// ║ Version:                 ║ 1.0.0                                                                                   ║
// ║ Author:                  ║ Corellan                                                                                ║
// ║ License:                 ║ MIT                                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// ✅ Enabled by Default
// ⭕ Disabled by Default
// 🧪 Experimental
// ⚠️ Must be loaded

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Do not comment out these lines! By disabling the theme can not work correctly.          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// ⚠️ Source Files (This loads the compiled source css file.)
@use "source";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Import                   ║ Do not comment out these lines! By disabling the theme can not work correctly.          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// ✅ Import Files (This loads the compiled source css file.)
@import "https://crearts-community.github.io/Assets/css/version.css";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Variables                ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

:root {
  // Info
  --Scripts-info-version: "v1.0.0";
  --Scripts-info-loaded: "Scripts:" "\00a0" var(--Scripts-info-version, "") "\a";
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Variables                ║ Custom                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

:root {
  // Font
  --Scripts-font-primary: "CreArts";
  --Scripts-font-display: "CreArts";
  --Scripts-font-headline: "CreArts";
}



